body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    background-color:rgba(221,221,221,0.996);
    display: block;
}

#header {
    display: flex;
    margin: 32px 0px;
}

h1 {
    font-size: 70px;
    margin-top: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: #1e1e1e;
}

h2 {
    margin-top: -16px;
    font-size: 132px;
    font-weight: 100;
    color: #1e1e1e
}



h3 {
  font-size: 53px;
  font-weight: 200;
  margin-top: 120px;
  color: white;
  text-align: right;
  padding-right: 10px;
  opacity: 30%;
}

.homelink:hover {
    text-decoration: none;
}

.button-85 {
  padding: 1em 3.5em;
  width: max-content;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background:rgb(28, 28, 28);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 13px;
  user-select: none;
  -webkit-user-select: none;
  touch-action:manipulation;
  margin-top: 50px;
}



.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}



@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #1e1e1e;
  left: 0;
  top: 0;
  border-radius: 10px;
}


.menu {
    margin: 40px -12px;
    font-size: 53px;
    font-weight: 200;
}

.homepage-welcome {
  margin-bottom: 60px;
  margin-top: 60px;
  margin-left: 0px;
  margin-right: 0px;
}


.project-image1, .project-image2 {
  border-radius: 5px;
  display:block;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.homepage-images {
  display: flex;
  justify-content: space-evenly;
  
}

.homepage-section {
  background: #1e1e1e;
  display:block;
  box-sizing: border-box;
  margin: 80px 30px;
  border-radius: 10px;
  padding-bottom: 30px;
  text-align: center;
  box-shadow: rgb(52, 52, 255) 0px 4px 16px, rgba(167, 80, 255, 0.985) 0px 8px 24px, rgb(228, 51, 252) 0px 16px 56px;
}

p {
  
  font-family: 'Courier New', Courier, monospace !important;
}

@media (max-width: 993px) {
  .big-text {
    font-size: 82px;}
  h1{
    font-size: 46px;
    margin-top: -13px;
  }
  h2{
    margin-top: -25px;
  }
  .menu {
    font-size: smaller;
  }
  .homepage-welcome {
    margin-bottom: 0;
  }
  .project-image2 {
    width:fit-content;
  }
  h3 {
    margin-top: 10px;
    font-size: 46px;
    text-align: right;
    opacity: 30%;
    font-weight: lighter;
  }
  .homepage-images {
    margin-bottom: 50px;
  }
  .footer {
    font-size: smaller;
  }
  
  .about-section {
    text-align: center;
    padding-bottom: 80px !important;
  }

.annaphoto {
  margin: 0 !important;
}
.projects-content h2 {
  font-size: 40px !important;
}
  }

  @media (max-width: 770px) {
    .big-text {
    font-size: 64px;
    margin-left: 60px;
    margin-right: 60px;
    padding-top: 7px;
  }
h3 {
    margin-top: 10px;
    font-size: 26px;
    text-align: right;
    opacity: 30%;
    font-weight: lighter;
  }
  .homepage-images {
    margin-bottom: 30px;
  }
  }

  @media (max-width: 764px) {
    #header {
      display:inline-flexbox;
      margin:0;
      padding: 0;
      box-sizing: content-box !important;
      }
      

      .button-85 {
        margin-top: 20px;
  padding: 1em 4em;
text-align: center;
width:max-content;
}
.menu {
  font-size: 26px;
}
.homepage-section {
  margin-top: 0;
}
h3 {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}
.footer {
  font-size: small;
}

.content h1 {
  font-size: 50px !important;
}

.projects-content h2 {
  font-size: 32px !important;
}

.portfolio-container {
  text-align: center;
  padding: 60px 20px !important;
  width: 80%;
}

.projects-grid p {
  margin-bottom: 60px !important;
}

.logo {
  font-size: 18px !important;
}

nav ul {
  padding: 1px 0 !important;
}

nav li {
    font-size: 18px !important;
    margin-left: 6px !important;
  }
  }

  @media (max-width: 456px) {
    .about-section-content {
      margin: 70px 0px !important;
    }
    h1.h1-about {
      font-size: 46px !important;
    }
    h3{
      font-size: 18px !important;
    }
    .footer {
      font-size: xx-small;
    }
    .homepage-welcome {
      text-align: center;
    }
    .logo {
  font-size: 15px !important;
}

nav ul {
  padding: 0 !important;
}

nav li {
    font-size: 15px !important;
    margin-left: 4px !important;
  }

  }

  
  .about-section h1{
    font-size: 76px;
    font-weight: 100;
  }

  .about-section {
  margin: 80px auto;
  background: #cdcdcd;
  display:block;
  box-sizing: border-box;
  border-radius: 10px;
  padding-bottom: 30px;
  box-shadow: rgb(175, 240, 77) 0px 4px 16px, rgba(94, 247, 99, 0.985) 0px 8px 24px, rgb(95, 154, 255) 0px 16px 56px;
  }

  .about-section-content {
    margin: 70px;
  }

  .annaphoto {
    margin:100px auto;
    margin-right: 90px;
  }

  .projects-grid h4 {
    margin: 15px 0 0;
  }

  .content h4 {
    font-size: 30px;
    font-weight: 100;
  }

  .content h1 {
    font-size: 60px;
  }

  .projects-content {
    margin-top: 120px;
  }

  .projects-content h2 {
    font-size: 60px;
  }

  .portfolio-container {
  margin: 50px auto;
  padding: 30px 40px;
  background: rgb(215, 215, 215);
  display:block;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: rgb(165, 105, 249) 0px 4px 16px, rgba(188, 94, 247, 0.985) 0px 8px 24px, rgb(148, 95, 255) 0px 16px 56px;
  }

  .projects-grid {
    margin-top: 30px;
  }

  nav {
    padding-top: 20px;
    padding-bottom: 5px;
  }

  nav ul {
    padding: 7px 0;
    margin: 0;
    font-weight: 100;
  }

  nav li {
    display: inline;
    list-style: none;
    line-height: 10px;
    font-size: 24px;
    margin-left: 16px;
  }

  nav a {
    text-decoration: none;
    transition:all 0.6s ease-in-out;
    color: #1e1e1e;
    background: linear-gradient(to right, rgb(89, 250, 83) 0%,rgb(58, 222, 251) 98%);
		background-size:0px 2px;
		background-repeat: no-repeat;
		background-position:left 85%;
		text-shadow:0;
  }

  nav a.a-purple {
    text-decoration: none;
    transition:all 0.6s ease-in-out;
    color: #1e1e1e;
    background: linear-gradient(to right, rgb(108, 83, 250) 0%,rgb(171, 58, 251) 98%);
		background-size:0px 2px;
		background-repeat: no-repeat;
		background-position:left 85%;
		text-shadow:0;
  }

  nav a:hover,
  nav li.active a {
    text-decoration: none;
    color:#202020;
    background-size:100% 2px;
  }


  .logo {
    font-size: 24px;
    color: #1e1e1e;
    font-weight: 500;
  }


  .logo:hover {
    background: linear-gradient(to right, rgb(45, 215, 39) 0%,rgb(58, 222, 251) 98%);
    -webkit-background-clip: text;
    color:transparent;
  }

  #logo-purple:hover {
    background: linear-gradient(to right, rgb(108, 83, 250) 0%,rgb(171, 58, 251) 98%);
    -webkit-background-clip: text;
    color:transparent;
  }


 
 
